<div class="about-container">
  <mat-card class="about-card">
    <mat-card-title>
      ABOUT
    </mat-card-title>
    <a href="https://junkies-200810.web.app/">junkies</a> - track your tv shows and calculate the total time you spent
    watching them
    <br>
    <!-- <a target=_blank href="https://www.linkedin.com/in/tobias-kaufmann-183306140/" class="button-social">
        <img src="../../../assets/linkedin-logo.png">
      </a> -->
    <br> view this project on <a href="https://gitlab.com/tobiaskaufmann/junkiesv2">GitLab</a>

    <br> or contact the creator:

    <a href="https://twitter.com/tobiaskaufmannn" id="button-social">
      <!-- twitter -->
      <img src="../../../assets/twit.png">
    </a>

    <br>
    <br>
    <span class="credits">
      <!--campaign on
        <a href="https://www.producthunt.com/posts/junkies-io">ProductHunt</a><br>-->

      created with Angular and Firebase
      <br> TV shows API by
      <a href="https://www.themoviedb.org/documentation/api">The Movie Database</a>.
      <div>Icons made by
        <a href="https://www.flaticon.com/authors/simpleicon" title="Facebook letter logo">Facebook letter logo</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a>
      </div>
    </span>

    <a style="color:white;" href="#">
      <div class="button-back" routerLink="../">BACK</div>
    </a>

  </mat-card>

</div>